body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.menu {
    width: 200px;
}

.menu select {
    float: right;
    width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  right: 300px;
  height: 4em;
  padding: 5px;
  background-color: whitesmoke;
}

footer div {
    float: right;
    padding-left: 10px;
}

.row {
  display: flex;
}
  
#list {
    position: absolute;
    width: 250px;
    height: 90%;
    border: none
}

#fulltext {
    left: 250px;
    width: calc(100% - 550px);
    position: absolute;
    height: 100%;
    border: none;
}

#values-container {
    right: 0;
    width: 300px;
    position: absolute;
    overflow: scroll;
    height: 99vh;
    border: 0;
}

#values {
    height: 100%;
    border: none;
}
