@import url('//fonts.googleapis.com/css?family=EB+Garamond&display=swap');

body {
    font-family: 'EB Garamond', serif;
    color: indigo;
    background-color: whitesmoke;
    border: 0;
}

div {
    padding-bottom: 10px;
}

.title, .number {
    text-align: right;
}
  
.value {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 1px 1px;
    /* cursor: help; */
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}